body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top.*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
}
nav{
    background-color: #2c3e50 !important;
    border-color: #bdc3c7 !important;
}
nav li a,
nav .navbar-brand{
    color: #ecf0f1 !important;
}
nav li a:hover{
    color: #c0392b !important;
}
nav .navbar-brand{
    font-family: 'Pacifico', cursive;
}
nav .navbar-brand:hover{
    color: #e74c3c !important;
}
.container {
    flex:1;
}
.inventory{
    display: flex;
    flex-wrap: wrap;
}
.thumbnail {
    padding:2em !important;
}
.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.category-inventory{
    display: flex;
    flex-wrap: wrap;
}

footer {
    padding: 1em 0;
}